     
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="index.html">
        <img src="P1011115.JPG" height="60"; width="90"; alt="title image sdsu soc ta room">
    </a>
    <ul class="header-contact-links">
        <li>Contact: <a href="malioto:jrezaei0552@sdsu.edu">jrezaei0552@sdsu.edu </a> </li>
        <li><a href="https://www.linkedin.com/feed/">Linkedin </a> </li>
        <li><a href="https://github.com/jjjrezaei"> Github </a> </li>
    </ul>
</body>
</html>
