<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul class="sidebarNav">
            <li> <a href="index.html" target=_top class="headerLinks">
                Home
            </a></li>            
            <li> <a href="resume.html" target=_top class="headerLinks">
                Resume
            </a></li>
            <li><a href="cooking.html" target=_top class="headerLinks">
                Cooking
            </a></li>
            <li><a href="roadtrip.html" target=_top class="headerLinks">
                Road Trips
            </a></li>
            <li><a href="book.html" target=_top class="headerLinks">
                Books
            </a></li>
        </ul>
    </nav>  
</body>
</html>  